.jumbotron {
	background-image: url("boot-jumbo.jpg");
	min-height: 600px;
}

.jumbo-container {
	font-family: 'Raleway', sans-serif;
}

h1,h2,h5 {
	font-family: 'Raleway', sans-serif;
	color: #414141;
}

.navbar-dark .navbar-toggler {
	border-color: white;
}

.navbar-dark .navbar-nav .nav-link {
	font-family: 'Raleway', sans-serif;
	font-size: 140%;
	color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #FF8927;
}

#navbrand {
	background-color: #AAAAAA;
	margin:0px;
	padding: 15px 60px;
	color: white;
}

#navbrand:hover {
	background-color: #FF8927;
	color: #414141;
}

.nav-item {
	padding: 10px 30px;
}

.navbar {
	padding: 0px;
	background-color: #414141;
	color: white;
}

.navbar-dark {
	background-color: #414141;
}

#mc-embedded-subscribe {
	border: none;
}

#mc-embedded-subscribe:hover {
	cursor: pointer;
	color: #02D7FF;
}

.profile-info {
	padding: 50px;
}

.card {
	border: 2px solid grey;
	margin:10px auto;
}

.portfolio-box {
	margin: 60px auto 30px auto;
}

.profile-pic {
	margin: 50px 0px;
	padding: 0px;
}

.card-img-top {
	border-radius: 10px;
}

.img-cont {
	margin: 50px 0px;
}

.skills-container {
	background-color: #F8F9FA;
	padding-top: 20px;
	border: 2px solid #AAAAAA;
	border-radius: 10px;
	margin: 30px auto;
}

.skills-icon {
	color: #AAAAAA;
	border: 2px solid #AAAAAA;
	width: 120px;
	margin: 20px auto;
	border-radius: 10px;
	font-family:  'Raleway', sans-serif;
	font-size: 200%;
}

.skills-description {
	color: black;
	padding: 0px 10px 40px 10px;
}

.skill-html {
	color: #FF8500;
	border-color: #FF8500;
}

.skill-css {
	color: #003BED;
	border-color: #003BED;
}

.skill-js {
	color: #FFE700;
	border-color: #FFE700;
}

.skill-b {
	color: #8200ed;
	border-color: #8200ed;
}

.skill-title {
	color: black;
}

hr {
	margin: 0.5rem;
}

.card {
	border:none;
}

.card-body {
	background-color: #F8F9FA;
}

.text-foot {
	color: white;
}

.nav-item {
	padding: 0px 30px;
}

.portfolio-img {
	margin: 20px auto;
	border-radius: 10px;
}

.portfolio-bio {
	margin: 20px auto;
}

.contact-footer {
	background-color: #414141;
	color: white;
}

.foot-hr {
	background-color: #FF8927;
	color: #FF8927;
	height: 1px;
	border: none;
}

.contact-box {
	margin-top: 30px;
	padding: 20px;
	text-align: center;
}

.footer-item {
	margin: 20px auto;
}

.footer-h2 {
	color: white;
	padding-bottom: 15px;
	border-bottom: 1px solid white;
}

.footer-icon {
	height: 100px;
	margin-bottom: 30px;
}

.social-icon {
	height: 70px;
	margin: 10px;
}